<div data-testid="task-create-dialog">
  <h1 data-testid="tast-create-dialog-title" mat-dialog-title>Create Task</h1>
  <mat-dialog-content class="task-create-dialog-body">
    <form data-testid="task-create-form" [formGroup]="newTaskForm">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input
          data-testid="task-create-title-field"
          matInput
          placeholder="Insert task title"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          data-testid="task-create-description-field"
          matInput
          placeholder="Insert task description"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Task duration</mat-label>
        <mat-date-range-input
          data-testid="task-create-range-date-field"
          [rangePicker]="rangePicker"
        >
          <input matStartDate placeholder="Start date" />
          <input matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>
              Apply
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Toppings</mat-label>
        <mat-select multiple>
          <mat-select-trigger>
            <!-- {{ toppings.value?.[0] || "" }} -->
            <!-- <span -->
            <!--   *ngIf="(toppings.value?.length || 0) > 1" -->
            <!--   class="example-additional-selection" -->
            <!-- > -->
            <!--   (+{{ (toppings.value?.length || 0) - 1 }} -->
            <!--   {{ toppings.value?.length === 2 ? "other" : "others" }}) -->
            <!-- </span> -->
          </mat-select-trigger>
          <mat-option *ngFor="let tag of tags" [value]="tag.value">{{
            tag.value
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
</div>
